@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

html,
body {
  font-family: Tahoma, sans-serif;
  font-size: $font-size-base;
  color: $copy;
}

body {
  background-color: $light-blue;
  overflow-x: hidden;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

body.modal-open {
  overflow-y: auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'StagSans', Roboto, sans-serif;
  color: $green;
}

.btn {
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  padding-left: 3rem;
  padding-right: 3rem;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  color: white;
  transition: background-color 0.2s linear;
}

.btn--green {
  background-color: $green;
  border: 1px solid $green;
}

.btn--green:hover {
  color: $green;
  background-color: transparent;
  border: 1px solid $green;
}

.btn--green-border {
  background-color: transparent;
  border: 1px solid $green;
}

.btn--green-border:focus {
  color: $green;
}

.btn--green-border:hover,
.btn--green-border:active {
  background-color: $green;
}

.btn--white {
  background-color: transparent;
  border: 1px solid white;
}

.btn--white:hover {
  background-color: $green;
  border: 1px solid $green;
}

.btn--black {
  background-color: $black;
  border: none;
}

.btn--black:hover {
  color: $black;
  background-color: white;
  border: none;
}

.text-color--green {
  color: $green;
}

.text-color--blue {
  color: $blue;
}

.text-color--light-blue {
  color: $light-blue;
}

.text-color--red {
  color: $red;
}

select {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

.input {
  border-radius: 0;
  border: 1px solid #a2b8c1;
}

.input:hover,
.input:focus,
.input:active,
.input:active:focus {
  border: 1px solid #a2b8c1;
  box-shadow: none;
  outline: none;
}

.input:focus {
  border: 1px solid $blue;
}

.input--valid {
  border: 1px solid $green;
}

.input--invalid {
  border: 1px solid $red;
}

.input--error {
  color: $red;
}

/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

.main-content {
  padding-bottom: 5rem;

  h2,
  h3 {
    font-weight: 300;
  }
}

.main-content__left,
.main-content__right {
  padding-top: 3rem;
}

// @media all and (min-width: 992px) {
//   .main-content__right {
//     margin-top: 1rem;
//   }
// }

/*------------------------------------*\
  #INTRO
\*------------------------------------*/

.intro {
  h2 {
    font-size: 2.8rem;
    font-weight: 300;
  }
  .sub-heading {
    font-size: 1.5rem;
  }
}

/*------------------------------------*\
  #PRIZE PACKAGE
\*------------------------------------*/

.prize-package__items {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    font-size: 1.05rem;
    list-style: none;
    margin-bottom: 2rem;
    line-height: 25px;
    align-items: center;
  }
}

/*------------------------------------*\
  #ENTRY FORM
\*------------------------------------*/

.modal-open {
  overflow-y: auto;
  // overflow: unset !important;
}

.entry-form {
  min-height: 300px;
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-top: 40px;
  position: relative;

  .blog-header {
    // background-image: url('../images/SC_2016_Rainbow_Beach_Carlo_Sandblow_3_Katie_Purling_JOINT_COPYRIGHT.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 65%;
    left: 0;
    top: 35%;
    // margin-bottom: 70px;
    // z-index: -1;
  }

  h3 {
    margin-top: 0;
    font-weight: 600;
    font-size: 1.45rem;
  }
}

@media all and (min-width: 992px) {
  .entry-form {
    padding: 2.9rem 4rem;
  }
}

.entry-form__fb {
  padding: 0.65rem 1.5rem;
  text-transform: none;
  width: 100%;

  .fa-facebook-square {
    font-size: 1.5rem;
    float: left;
    margin-right: 1rem;
  }
}

.entry-form__cta {
  margin-top: 1rem;
  width: 100%;
}

/*------------------------------------*\
  #CARD
\*------------------------------------*/

.imagecardone {
  width: 100%;
}

.imagecardone img {
  width: 100%;
}

.imagecard_tip {
  // background: url('../images/tile_2.png') no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 300px;
}

.tip_container {
  background: rgba(255, 255, 255, 0.8);
  width: 250px;
  text-align: center;
  margin: 44px auto;
  padding: 20px 20px 15px;
  line-height: 19px;

  h3 {
    margin-top: 15px !important;
  }
}

.tip_container h3 {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.45rem;
}

.__card {
  font-family: 'StagSans';

  h4 {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 1rem 0;
  }
}

.card__item {
  background: white;
  margin-bottom: 2rem;
  min-height: 300px;
  position: relative;
  text-align: center;
}

.card__header,
.card__footer {
  font-weight: 300;
  font-size: 1.2rem;
  background-color: $blue;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 100%;
}

.card__header {
  text-align: left;
  margin-bottom: 1rem;
}

.card__header--blank {
  background-color: white;
}

.card__footer {
  position: absolute;
  bottom: 0;
  text-align: right;
}

.card__content {
  font-weight: 400;
  // font-size: 1.1rem;
  font-size: 1rem;

  p {
    margin-bottom: 0px;
  }
}

/*------------------------------------*\
  #TIP
\*------------------------------------*/

.tip {
  font-family: 'StagSans';
  font-weight: 400;
  border: 1px solid $green;
  margin-bottom: 2rem;
}

.tip__content {
  padding: 1.5rem;
}

/*------------------------------------*\
  #SOCIAL
\*------------------------------------*/

.social {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;

  p {
    font-family: 'StagSans';
    font-weight: 300;
    color: $green;
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }

  @media all and (min-width: 429px) {
    p {
      font-size: 1rem;
    }
  }
}

.social__item {
  font-size: 1.8rem;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0;
  background-color: $green;
  padding: 0;
  box-shadow: 0px 0px 0 2px #fff;
}

@media all and (min-width: 429px) {
  .social__item {
    font-size: 3rem;
    height: 100px;
    width: 100px;
  }
}

a.social__item {
  display: inline-block;
  line-height: 60px;
}

@media all and (min-width: 429px) {
  a.social__item {
    line-height: 95px;
  }
}

.social__item:focus {
  color: white;
  outline: none;
}
.social__item:hover,
.social__item:active {
  color: $green;
  background-color: $white;
  border: 1px solid $green;
  transition: background-color 0.15s linear;
}

/*------------------------------------*\
  #FORWARD TO FRIEND MODAL
\*------------------------------------*/

.ff-modal {
  .modal-content {
    padding: 1rem 2rem;
    border-radius: 0;
  }
}

.ff-modal__item {
  overflow: hidden;
  margin-bottom: 1rem;
}

.ff-modal__remove {
  color: #a2b8c1;
  float: right;
}

.ff-modal__add {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  color: #a2b8c1;
  text-transform: uppercase;
  cursor: pointer;
}

.ff-modal__cta {
  margin-top: 1rem;
  display: block;
  width: 100%;
}

/*------------------------------------*\
  #NOTIFICATION
\*------------------------------------*/

.notification {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  margin: 2rem;
}

.notification__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  font-size: 1rem;
}
.notification__item {
  position: relative;
  color: white;
  padding: 1rem;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 1rem;
  background-color: $blue;

  h4 {
    text-transform: capitalize;
    margin-top: 0;
    color: white;
  }

  &.notification--red,
  &.notification--error {
    background-color: $red;
  }

  &.notification--green,
  &.notification--success,
  &.notification--info {
    background-color: $green;
  }

  &.notification--blue,
  &.notification--server {
    background-color: $blue;
  }
}

.list-complete-item {
  transition: all 0.5s;
  display: block;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-complete-leave-active {
  position: absolute;
}

/* Vee-Validate */
.help.is-danger {
  color: #ff3860;
}
.help {
  display: block;
  font-size: 11px;
  margin-top: 5px;
}
.errspan {
  float: right;
  margin-right: 13px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  color: #e6665a;
}

/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
.container-break-out {
  /* force content full width when inside container */
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 1400px) {
  .container-break-out-center {
    max-width: 1400px;
    transform: translateX(-50%);
    left: 50%;
    /* force content full width when inside container */
    width: 100vw;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
  }
}

// https://www.w3schools.com/howto/howto_css_bullet_color.asp
// Thanks Eli
// list point color
.color-list {
  list-style: none; /* Remove default bullets */
}

.color-list li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $primary; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
