$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$green: #1cb2a9;
$blue: #333f48;
$light-blue: #f0f4f7;
$copy: $blue;
$red: #c83a00;
$white: #ffffff;

$primary: $green;

$dark: black;

$line-height-base: 1.6;
